services:
  pg:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: kaining
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: rentscrapedb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: